body{
    background-color: black;
}

  
  label {
      color: white;
      font-family: arial;
  }
  
  p {
      color: white;
      font-family: arial;
      margin: -10px 0px 6px 55px;
      padding-bottom: 5px;   
  }
  
  #passStatus{
      color: white;
      font-family: arial;
  }
  .blackBox {
      margin-top: 15%;
      margin-left: 33%;
      margin-right: 33%;
      border: 5px white solid;
      background-color: black;
  }
  
  .greyBox {
      background-color: grey;
      width: 465px;
      margin: 20px;
      padding-top: 20px;
      padding-bottom: 5px;
  }
  
  #label {
      margin-left: 30px;
      font-size: 12px;
  }
  
  #register {
      margin-left: 60px;
      padding: 5px;
      font-size: 15px;
  }
  
  #login {
      margin-left: 22%;
  }
  
  #password {
      margin-left: 17%;
  }
  
  #confirm {
      margin-left: 7%;
  }
  
  #genderDropdwn {
      margin-left: 19%;
      width: 162px;
  }
  
  #email {
      margin-left: 101px;
  }

  #samePass{
      margin-left: 25%;
  }